{% extends 'base.html' %}

{% block content %}

<table style="width:100%" border="1px solid">
    <tr>
      <th>Employeename</th>
      <th>Email</th>
      <th>Address</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Job Title</th>
      <th>Salary</th>
      <th>Join Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <tr>
      <td>{{ emp.employee_name }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.address }}</td>
      <td>{{ emp.age }}</td>
      <td>{{ emp.phone }}</td>
      <td>{{ emp.gender }}</td>
      <td>{{ emp.job_title }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.join_date }}</td>
    </tr>
</table>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    
    <p>
        {{ form.submit(value='delete') }}
    </p>
    
</form>

<a href=" {{ url_for('index') }} "> <button> Cancel </button> </a>

{% endblock %}